.select {
  min-height: 2rem;
  border: none;
  border-radius: 0.75rem;
  padding: 0 2rem 0 1rem;
  appearance: none;
  color: black;
  background-color: #fafafa;
  background-image: url('/icons/carret-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.75rem;
}
